[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pylint = "*"
pytest-cov = "*"
mypy = {git = "https://github.com/python/mypy.git", ref = "fe0f9333f2722989437dccc12810ea0adcb72a05"}

[requires]
python_version = "3.7"

[scripts]
test = 'sh -c "pylint shellie && mypy shellie && pytest"'
